extends layout

block content
  .container
    .row
      //- .col-lg-3.text-center.red
      //-   h1 col1
      .col-lg-4.offset-lg-3.text-center.green
        h1 col1
      //- .col-lg-4.text-center.blue
      //-   h1 col1
    .green.text-center
      h1 hello
