body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*table, tr, th, td{
  border: solid 1px;

}*/
.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}
